<!-- home -->
<div id="slider" data-section="home">
  <%= render 'home' %>  
</div>
<!-- \.home -->

<div class="advertisement" id="stats">   
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <div class="col-md-3">
          <h2><strong>13,613</strong></h2>
          <p class="lead">Social Influencers</p>
        </div>
        <div class="col-md-3">
          <h2><strong>1.2B</strong></h2>
          <p class="lead">Content Consumers Reach</p>
        </div>
        <div class="col-md-3">
          <h2><strong>100%</strong></h2>
          <p class="lead">Traffic Quality</p>
        </div>
        <div class="col-md-3">
          <h2><strong>15000+</strong></h2>
          <p class="lead">Social Media Properties</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 single-animate animate-features-3">
        <a href="#" class="btn btn-primary btn-block">Be A Part Of Our Social Sharing Army!</a>
      </div>
    </div>
  </div>
</div>

<!-- features -->
<div id="fh5co-features" data-section="features">
  <%= render 'features' %>
</div>
<!-- ./features -->

<div class="advertisement">   
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Join 1,500+ publishers in our network</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 single-animate animate-features-3">
        <a href="#" class="btn btn-primary btn-block">Be A Part Of Our Social Sharing Army!</a>
      </div>
    </div>
  </div>
</div>


<!-- testimonials -->
<div id="fh5co-testimonials" data-section="testimonials">   
  <%= render 'testimonials' %>
</div>
<!-- ./testimonials -->

<div class="advertisement">   
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Minimize effort, Maximize revenue</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 single-animate animate-features-3">
        <a href="#" class="btn btn-primary btn-block">Join Us!</a>
      </div>
    </div>
  </div>
</div>

<!-- social-influencers-->
  <div id="fh5co-our-services" data-section="services">
    <%= render 'influencers' %>
  </div>
  <!-- /.social-influencers -->
  
  <!-- contact -->
  <div id="fh5co-press" data-section="press">
    <%= render 'contact' %>
  </div>
  <!-- ./contact -->
