<div class="modal-dialog modal-lg">
  <div class="modal-content">
	  	<div class="modal-body">
	  		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>	
	  		<div class="row">
	  			<div class="col-md-4">
	  		  		    <%= image_tag @coupon.coupon_company_logo, :class=>"img-responsive thumbnail-image", style: "width:300px;height:250px;" %>
	  		  		    <hr>
	  		  		    <%= form_tag("/map_coupon", method: "post") do %>
  		  		     	    <%= hidden_field_tag 'user_id' , current_user.id %>
  		  		     	    <%= hidden_field_tag 'coupon_id' , @coupon.id  %>
  		  		     	    <div class="text-center">
  		  		     	        <button class="btn btn-primary btn-sm coupon-btn" role="button"><i class="fa fa-rupee fa-1x"></i><strong><%= @coupon.coupon_amount %></strong></button> 
  		  		     	    </div>    
	  		  		    <% end %>	
	  		  	</div>
	  			<div class="col-md-8">
	  		 		<h4 class="page-header text-left"><%= @coupon.coupon_title %> @<strong><%= @coupon.coupon_company_name %></strong></h4>
	  		 		<div>
	  		 			<h4>About</h4>
						<small class="text-left">
							<%= @coupon.coupon_description %>
						</small>
	  		 		</div>
	  		 		<hr>
					<h4>Terms And Conditions</h4>
					<small>
						<ul class="list-group">
							<% @coupon_terms.each do |coupon_term| %>
								<li class="list-group-item">
									<%= coupon_term %>
								</li>
							<% end %>	
						</ul>
					</small>
					
	  		  	</div>
	  		</div>
	    </div>
	    <div class="modal-footer">
	        
	    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
