<!-- Partial For User Shared Stories-- >

<% @a_stories.each do |ms|%>
    <!-- col-md-4 -->
    <div class="col-md-4 text-center">
        <!-- thumnail -->
        <div class="thumbnail">

            <!-- Story Image -->
            <%if !ms[0].image_url.nil?%>
                <img class="img-responsive" style="width:300px; height:150px;" src="<%= ms[0].image_url %>" alt="">
            <%else%>
                <img class="img-responsive" src="http://placehold.it/600x300" alt="">
            <% end %>

            <!-- Story Title -->
            <%if !ms[0].title.nil?%>
                <div class="caption">
                    <h5 class="title"><%= ms[0].title %></h5>         
                </div>
            <% else %>    
                <div class="caption">
                    <h5>Unable to fetch</h5>         
                </div>
            <% end %>         

            <!-- Shortened URL -->        
            <div class="input-group">
                <!-- copy to clipboard button -->
                <span class="input-group-addon">
                    <button class='my_clip_button btn btn-primary btn-xs' data-clipboard-target="#cp_text<%=ms[0].id%>" title='Click here to copy to clipboard.'>
                        <i class="fa fa-copy"></i>
                    </button>
                </span>
                
                <input type="text" id='cp_text<%=ms[0].id%>' class="form-control" value='<%=ms[1]%>' readonly>
            </div>

            <!-- Social Sharing Button -->                             
            <ul class="list-inline">
                <li>
                    <%if !ms[2].nil?%><!--if shared on facebook-->
                        <a id="fb_<%=ms[0].id%>" class = "btn btn-block btn-xs btn-social-icon btn-facebook disabled"><i class="fa fa-facebook"> Share</i><span class="fa fa-check-circle fa-lg top-corner"></span></a>
                    <%else%>
                        <a id="fb_<%=ms[0].id%>" class="btn btn-block btn-xs btn-social-icon btn-facebook fb_share" data-story-url='<%= ms[1] %>' data-story-id='<%= ms[0].id%>'><i class="fa fa-facebook"> Share</i></a> 
                    <% end %>
                </li>
                <li>
                    <% if !ms[3].nil? %><!--if shared on twitter-->
                        <a  class="btn btn-block btn-xs btn-social-icon btn-twitter disabled" ><i class="fa fa-twitter"> Tweet</i><span class="fa fa-check-circle fa-lg top-corner"></span></a>
                    <%else%>
                        <%if twitter_user %> <!-- If connected via twitter -->
                            <a target="popup" class="tw_share" href="/tweet?id=<%= story.id%>&url=<%= story.title+' : '+@u %>"><span class="btn btn-block btn-xs btn-social-icon btn-twitter"><i class="fa fa-twitter"> Tweet</i></span></a>
                        <% else %> <!-- If Not connected via twitter -->
                            <a class="twitter_share"><span class="btn btn-block btn-xs btn-social-icon btn-twitter"><i class="fa fa-twitter"> Tweet</i></span></a>
                        <%end%>
                    <%end%>
                </li>
            </ul>

        </div>
        <!-- ./thumbnail -->
    </div>
    <!-- ./col-md-4 -->  
<% end %>    