<h3 class="page-header text-left"><i class="fa fa-fw fa-mobile"></i> Mobile Recharge</h3>
<div class="panel panel-theme">
  <div class="panel-body">
    <!-- form for recharge details-->
    <%= form_for @recharge, url: {action: "addrecharge"}, html: {class: "form-inline"} do |f| %>
      <div class="form-group">
        <%= f.label :mobile, "Mobile Number", :class =>'label-control' %>
        <%= f.text_field :mobile, :placeholder => "Enter Mobile Number", id:'mobNum', :class => 'form-control' %>
      </div>
      <%= fields_for @recharge_stat do |fa| %>
        <div class="form-group">
          <label class="label-control">Operator</label>
          <select name="operators" id="operator" class="form-control">
            <option value="0">Select Operator</option>
            <option value="AC">Aircel</option>
            <option value="AT">Airtel</option>
            <option value="CG">Bsnl</option>
            <option value="DP">Mtnl</option>
            <option value="ID">Idea</option>
            <option value="MT">MTS India</option>
            <option value="RC">Reliance CDMA</option>
            <option value="RG">Reliance GSM</option>
            <option value="TD">TATA Docomo</option>
            <option value="UN">Uninor</option>
            <option value="VF">Vodafone</option>
            <option value="VD">Videocon Mobile Services</option>
          </select>
        </div>
        <div class="form-group">
          <%= fa.label :amount, :class => 'label-control' %>
          <%= fa.text_field :amount, :placeholder => "Enter Amount", :class => 'form-control' %>
        </div>
      <%end%>
      <%= f.submit 'Recharge', :class => "btn btn-default" %>    
    <% end %>
  </div>  
</div>
<div class="panel panel-theme hide" id="plans">
  <div class="panel-body">
    
  </div>
</div>  