
<h1> Coupons available for you </h1>


<hr>

<div class="well">


<% @coupons.each do |coupon| %>
 
  <%= image_tag coupon.coupon_company_logo ,:height=>"100px", 
:width=>"100px" %> <br>

<%= coupon.coupon_title %> <br>


<%= coupon.coupon_amount %> <br>

<%= coupon.coupon_company_name %><br>

<%= coupon.coupon_description %><br>



<p class="row col-sm-10">

<p class="col-sm-3">
<button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<%= coupon.coupon_terms %>">
  TERMS  
</button>
</p>

<% $coupon =  coupon.id %>

<% def coupon_tag    
return $coupon    
end
%>


<p class="col-sm-3">
<%= form_tag("/map_coupon", method: "post") do %>
<br>
<%= hidden_field_tag 'user_id' , current_user.id %>

<%= hidden_field_tag 'coupon_id' , coupon_tag  %>

  <%= submit_tag "REDEEM", :class => "btn btn-info"  %>
<% end %>
</p>
</p>


</div>

	<% end %>



