<!--Coupons -->
<div class="admin-row row">
    <div class="col-lg-12">
        <h2 class="page-header text-left">Coupons</h2>
    </div>  
    <% @coupons.each do |coupon| %>
    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <%= link_to "/coupon_detail/#{coupon.id}", {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#coupon-modal'} do %>
                <%= image_tag coupon.coupon_company_logo, :class=>"img-responsive thumbnail-image", style: "width:300px;height:150px;" %>
            <% end %>
            <div class="caption">
                <h5><%= coupon.coupon_title %>-<%= coupon.coupon_company_name %></h5>
            </div> 
            <span>
                <%= form_tag("/map_coupon", method: "post") do %>
                    <%= hidden_field_tag 'user_id' , @current_user.id %>
                    <%= hidden_field_tag 'coupon_id' , coupon.id  %>
                    <div class="text-center">
                        <button class="btn btn-primary btn-xs coupon-btn" role="button"><i class="fa fa-rupee fa-1x"></i><strong><%= coupon.coupon_amount %></strong></button> 
                    </div>    
                <% end %>    
            </span>
        </div>
    </div>
    <!-- Modal -->
    <% end %>
</div>
<div id="coupon-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>

