<div id="stories">
    <div class="row admin-row">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label class="label-control" style="margin-right:0;" for="pref-search">Search:</label>
                        <input type="text" class="form-control input-sm search" id="pref-search" placeholder="Enter Keyword">
                    </div><!-- form group [search] -->
                    <div class="form-group">
                        <label class="label-control" style="margin-right:0;" for="filter-category">Category:</label>
                        <select id="filter-category" name="category" class="form-control">
                            <option selected="selected" value="">Select a Category</option>
                            <option value="Relationships">Relationships</option>
                            <option value="Life">Life</option>
                            <option value="Inspirational">Inspirational</option>
                            <option value="Health and Well-being">Health and Well-being</option>
                            <option value="Food">Food</option>
                        </select>                                
                    </div> <!-- form group [Category] -->
                    <div class="form-group">
                        <label class="label-control" style="margin-right:0;" for="pref-orderby">Order by:</label>
                        <select id="pref-orderby" class="form-control">
                            <option>Descending</option>
                            <option value="ascending">Ascending</option>
                        </select>                                
                    </div> <!-- form group [order by] --> 
                </form>
            </div>
        </div>
    </div>
    <hr>
    <div class="row admin-row list">
        <% @stories.each do |story|%>
        <div class="col-lg-4 col-md-4 col-sm-6 text-center">
            <div class="thumbnail">
                    <%if !story.image_url.nil?%>
                        <img class="img-responsive" style="width:300px; height:150px;" src="<%= story.image_url %>" alt="">
                    <%else%>
                        <img class="img-responsive" src="http://placehold.it/600x300" alt="">
                    <% end %>
                    <%if !story.title.nil?%>
                        <div class="caption">
                            <h5 class="title strt"><%= story.title %></h5>         
                        </div>
                    <% else %>    
                        <div class="caption">
                            <h5>Unable to fetch</h5>         
                        </div>
                    <% end %>

                <div class="input-group">
                    <span class="input-group-addon">
                        <button class='my_clip_button btn btn-primary btn-xs' data-clipboard-target='#fe_text1' title='Click here to copy to clipboard.'>
                        <i class="fa fa-copy"></i>
                    </button>
                    </span>
                    <input type="text" id='fe_text1' class="form-control" value="URL Text">
                </div>                                
                <ul class="list-inline">
                    <li>
                        <a href="#" class="fa-stack" id="rate" data-toggle="popover" data-trigger="hover">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-inr fa-stack-1x fa-inverse"></i>
                        </a>
                    </li>
                    <li>
                        <% i=0 %>
                        <%@us_story.each do |usr_str|%>
                            <%if usr_str.story_id == story.id && !usr_str.fb_post_id.nil?%>
                                <% i=1 %>      
                            <%end%>
                        <%end%> 
                        <% if i==1 %>
                            <a id="fb_<%=story.id%>" href="#" onclick= 'share_to_fb("<%= story.orig_url %>","<%= story.id%>");' class = "btn disabled"><i class="fa fa-2x fa-facebook-square"></i></a>
                        <%else%>
                            <a id="fb_<%=story.id%>" href="#" onclick= 'share_to_fb("<%= story.orig_url %>","<%= story.id%>");'><i class="fa fa-2x fa-facebook-square"></i></a> 
                        <%end%> 
                    </li>
                    <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <%end%>
    </div>
</div>
<div id="popover_content_wrapper" style="display: none">
    <a class="btn btn-xs btn-block btn-social btn-facebook">
        <span class="fa fa-facebook"></span>Like - 2&#8377;
    </a>
    <a class="btn btn-xs btn-block btn-social btn-facebook">
        <span class="fa fa-facebook"></span>Share - 5&#8377;
    </a>
    <a class="btn btn-xs btn-block btn-social btn-facebook">
        <span class="fa fa-facebook"></span>Comment - 3&#8377;
    </a>
    <a class="btn btn-xs btn-block btn-social btn-twitter">
        <span class="fa fa-twitter"></span>ReTweet - 5&#8377;
    </a>
    <a class="btn btn-xs btn-block btn-social btn-twitter">
        <span class="fa fa-twitter"></span>Favorite - 2&#8377;
    </a>
    <a class="btn btn-xs btn-block btn-social btn-twitter">
        <span class="fa fa-twitter"></span>Converstion - 3&#8377;   
    </a>
</div>
<script type="text/javascript">
    var options = {
      valueNames: ['title','category','date']
    };

    var storyList = new List('stories', options);

    $('#filter-category').change(function () {
        var selection = this.value;
        if (selection) {
            storyList.filter(function(item) {
                return (item.values().category == selection);
            });
        } else {
            storyList.filter();
        }
    });
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover({
            html : true,

                content: function() {
                  return $('#popover_content_wrapper').html();
                }
        }); 
        $("h5.strt").text(function(index, currentText) {
            for(var i=0;i<currentText.length;i++){
                if(i>80){
                    if(currentText.charAt(i)==' '){
                        var excerpt=currentText.substr(0,i);
                        return excerpt+='..';
                    }
                }
            }
        });  
    });
</script>    
