<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> 	   <html class="no-js"> <![endif]-->

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ViralCents: Monetize your Social media audience</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content="Viralcents"/>
	<meta property="og:image" content="https://imgur.com/gallery/pJofj"/>
	<!-- <meta property="og:url" content=""/> -->
	<meta property="og:site_name" content="Viralcents"/>
	<meta property="og:description" content="Share to get your share"/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Mandatory Css -->
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	
	<!-- Custom Css -->
	<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true %>
  	
  	<%= javascript_include_tag 'application' %>
  	<%= javascript_include_tag 'user_panel' %>
  	<%= csrf_meta_tags %>

	<!-- Google Fonts-->
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

</head>
  <body>
  		<div id="fb-root"></div>

  		<!-- navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a class="navbar-brand" href="/dashboard">ViralCents</a>
					<a href="#menu-toggle" class="navbar-toggle" id="menu-toggle">
						<span class="sr-only">Toggle navigation</span>
						<i class="fa fa-bars"></i>
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="col navbar-col">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-secret"></i> <%=current_user.name %> <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/settings" class="text-center"><i class="fa fa-gears"></i> Settings</a></li>
								<li role="separator" class="divider"></li>
								<% if current_user %> 
									<li><a id="fb_logout" class="text-center"><i class="fa fa-sign-out"></i> Logout</a></li>
								<%end%>
							</ul>
						</li>
					</ul>
				</div><!-- /.navbar-col -->
			</div><!-- /.container-fluid -->
		</nav>

		<!-- Wrapper -->
	    <div id="wrapper">

	        <!-- Sidebar -->
	        <div id="sidebar-wrapper">
	            <ul class="sidebar-nav">
	                <li>
	                     <a href="/dashboard" class="<%= 'active' if current_page?(dashboard_path) %>"><i class="fa fa-dashboard fa-fw"></i><span class="pos"> Dashboard</span></a>
	                </li>
	                <li>
						<a href="javascript:;" class="<%= 'active' if (current_page?(stories_path) || current_page?(user_stories_path)) %>" data-toggle="collapse" data-target="#demo"><i class="fa fa-book fa-fw"></i> Stories <span class="caret"></span></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="/stories" class="<%= 'active' if current_page?(stories_path)%>"><i class="fa fa-newspaper-o fa-fw"></i> All Stories</a>
                            </li>
                            <li>
                                <a href="/user_stories" class="<%= 'active' if current_page?(user_stories_path)%>"><i class="fa fa-history fa-fw"></i> My Stories</a>
                            </li>
                        </ul>
	                </li>
					<li>
						<a href="wallet" class="<%= 'active' if current_page?(wallet_path) %>">
						<i class="fa fa-credit-card fa-fw"></i> Wallet </a>
	                </li>
	                <li>

						<a href="javascript:;" class="<%= 'active' if (current_page?(recharges_path) || current_page?(show_coupons_path) || current_page?(my_coupons_path)) %>" data-toggle="collapse" data-target="#demo1"><i class="fa fa-rupee fa-fw"></i>Redeem <span class="caret"></span></a>
						<ul id="demo1" class="collapse">
							<li>
								<a href="/recharges" class="<%= 'active' if current_page?(recharges_path) %>"><i class="fa fa-tablet fa-fw"></i> Mobile Recharge</a>

							</li>
							<li>
								<a href="/show_coupons" class="<%= 'active' if current_page?(show_coupons_path) %>"><i class="fa fa-tags fa-fw"></i> Get Coupons</a>
							</li>
							<li>
								<a href="/my_coupons" class="<%= 'active' if current_page?(my_coupons_path) %>"><i class="fa fa-shopping-basket fa-fw"></i> My Coupons </a>
							</li>
						</ul>
	                </li>
					<li>
						<a href="/referrals" class="<%= 'active' if current_page?(referrals_path) %>"><i class="fa fa-random fa-fw"></i> Referrals</a>
	                </li>
	                <li>
	                    <a href="#" data-toggle="modal" data-target="#faq-modal"><i class="fa fa-question-circle fa-fw"></i>Need Help</a>
	                </li>
	            </ul>
        	</div>
        	<!-- /#sidebar-wrapper -->

	        <!-- Page Content -->
	        <div id="page-content-wrapper">
				<%= yield %>
	        </div>
	        <!-- /#page-content-wrapper -->

	        <!-- FAQs Modal -->
	        <%= render 'faq' %>

	    </div>
	    <!-- /#wrapper -->
  	</body>
</html>