<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> 	   <html class="no-js"> <![endif]-->

<html lang="en">
<head>
<meta name="verifyownership" content="a0e3f8ea5ae011ed97a58d9b56897854" />

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<%= favicon_link_tag 'viral.ico' %>
	<link rel='shortcut icon' href='assets/viral.ico' type='image/x-icon'/ >
	<title>ViralCents: Monetize your Social media audience</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Mandatory CSS -->
	<%= stylesheet_link_tag 'application', media: 'all'%>

	<!-- Custom Css -->
	<%= stylesheet_link_tag 'landing_style', media: 'all'%>

	<!-- Application js -->
	<%= javascript_include_tag 'application'%>
	<!-- main js script -->
	<%= javascript_include_tag 'landing/main'%>
	<!-- jquery easing -->
	<%= javascript_include_tag 'landing/jquery.easing.1.3'%>
	<!-- jquery waypoints -->
	<%= javascript_include_tag 'landing/jquery.waypoints.min'%>
	<!-- owl carousel -->
	<%= javascript_include_tag 'landing/owl.carousel.min'%>
	
  	<%= csrf_meta_tags %>

  	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
</head>
<body>
  	
  	<!-- header-->
	<header role="banner" id="fh5co-header">
	    <div class="container">
	      <!-- <div class="row"> -->
	        <nav class="navbar navbar-default">
	          <div class="navbar-header">
	            <!-- Mobile Toggle Menu Button -->
	        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
	              <a class="navbar-brand" href="/"><%= image_tag("logo.png", alt: "ViralCents") %></a>
	          </div>
	          <div id="navbar" class="navbar-collapse collapse">
	            <ul class="nav navbar-nav navbar-right">
	              <li class="active"><a href="#" data-nav-section="home"><strong><span>Home</span></strong></a></li>
	              <!-- <li><a href="#" data-nav-section="features"><strong><span>Features</span></strong></a></li>
	              <li><a href="#" data-nav-section="testimonials"><strong><span>Testimonials</span></strong></a></li>
	              <li><a href="#" data-nav-section="services"><strong><span>Why ViralCents!</span></strong></a></li>
	              <li><a href="#" data-nav-section="press"><strong><span>Contact Us</span></strong></a></li> -->
	              <li>
	              	<!-- <a class="fb_login"> -->
	              	<a>
    					<span class="fb_login btn btn-social-icon btn-facebook btn-xs"><i class="fa fa-facebook"></i> Login</span>
  					  </a>
  				  </li>
	            </ul>
	          </div>
	        </nav>
	      <!-- </div> -->
	    </div>
	</header>
  	<!--/.header-->
	 
	<!-- content --> 
	<%= yield %>

	<!-- footer -->
	<!-- <footer id="footer" role="contentinfo">
		<div class="container">
			<div class="row vdivide">
				<div class="col-md-12 text-center">
					<div class="col-md-5 col-sm-4 col-xs-4 text-right">
						<a href="#" data-toggle="modal" data-target="#faq-modal">Faqs</a>
					</div>
				    <div class="col-md-2 col-sm-4 col-xs-4 text-center">
				    	<a href="#" data-toggle="modal" data-target="#tc-modal">Terms and Conditions</a>
				    </div>
				    <div class="col-md-5 col-sm-4 col-xs-4 text-left">
				    	<a href="#" data-toggle="modal" data-target="#pp-modal">Privacy Policy</a>
				    </div>
				</div>
			</div>
			<div class="row row-bottom-padded-sm">
				<div class="col-md-12">
					<p class="copyright text-center">&copy; 2016 Copyright <a href="/">ViralCents</a>. All Rights Reserved.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="social social-circle">
						<li><a href="https://twitter.com/ViralCents" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://www.facebook.com/viralCents" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://www.instagram.com/viralcents/" target="_blank"><i class="fa fa-instagram"></i></a></li>
						<li><a href="https://plus.google.com/117754438152238825831" target="_blank"><i class="fa fa-google-plus"></i></a></li>				
					</ul>
				</div>
			</div>
		</div>
	</footer> -->

	<!-- Faqs Modal -->
	<%# render 'user_panel/faq' %>

	<!-- T&Cs Modal -->
	<%# render 'tc' %>

	<!-- Privacy Modal -->
	<%# render 'pp' %>

	<!-- Twitter Tweets -->
	<!-- <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>	 -->

<!--<script type="text/javascript"
  src="https://flippa.com/assets/flippaPromoBar.js"
  id="flippa-promo-bar"
  data-listing-id="6401725">
</script>-->
	
</body>
</html>
