<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ViralCents: Monetize your Social media audience</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />


	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

	<!-- Mandatory CSS -->
	<%= stylesheet_link_tag 'application', media: 'all'%>

	<!-- Custom Css -->
	<%= stylesheet_link_tag 'landing_style', media: 'all'%>
	
  	<%= javascript_include_tag 'application'%>
  	<%= csrf_meta_tags %>

</head>
<body>
  	
  	<!-- header-->
	<header role="banner" id="fh5co-header">
	    <div class="container">
	      <!-- <div class="row"> -->
	        <nav class="navbar navbar-default">
	          <div class="navbar-header">
	            <!-- Mobile Toggle Menu Button -->
	        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
	              <a class="navbar-brand" href="/"><img src="assets/logo.png" alt="ViralCents"></a>
	          </div>
	          <div id="navbar" class="navbar-collapse collapse">
	            <ul class="nav navbar-nav navbar-right">
	              <li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
	              <li><a href="#" data-nav-section="features"><span>Features</span></a></li>
	              <li><a href="#" data-nav-section="testimonials"><span>Testimonials</span></a></li>
	              <li><a href="#" data-nav-section="services"><span>Why ViralCents!</span></a></li>
	              <li><a href="#" data-nav-section="press"><span>Contact Us</span></a></li>
	              <li><a class="fb_login">
    					<span class="btn btn-social-icon btn-facebook btn-xs"><i class="fa fa-facebook"></i> Login</span>
  					  </a>
  				  </li>
	            </ul>
	          </div>
	        </nav>
	      <!-- </div> -->
	    </div>
	</header>
  	<!--/.header-->
	 
	<!-- content --> 
	<%= yield %>

	<!-- footer -->
	<footer id="footer" role="contentinfo">
		<div class="container">
			<div class="row vdivide">
				<div class="col-md-12 text-center">
					<div class="col-md-6 col-sm-6 col-xs-6 text-right">
						<a href="#" data-toggle="modal" data-target="#faq-modal">Faqs</a>
					</div>
				    <div class="col-md-6 col-sm-6 col-xs-6 text-left">
				    	<a href="#" data-toggle="modal" data-target="#tc-modal">T&Cs</a>
				    </div>
				</div>
			</div>
			<div class="row row-bottom-padded-sm">
				<div class="col-md-12">
					<p class="copyright text-center">&copy; 2016 Copyright <a href="/">ViralCents</a>. All Rights Reserved.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="social social-circle">
						<li><a href="https://twitter.com/ViralCents" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://www.facebook.com/ViralCents-514054015444603" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://www.instagram.com/viralcents/" target="_blank"><i class="fa fa-instagram"></i></a></li>
						<li><a href="https://plus.google.com/117754438152238825831" target="_blank"><i class="fa fa-google-plus"></i></a></li>				
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<!-- Faqs Modal -->
	<%= render 'user_panel/faq' %>

	<!-- T&Cs Modal -->
	<%= render 'tc' %>

	<!-- main js script -->
	<%= javascript_include_tag 'landing/main'%>
	<!-- jquery easing -->
	<%= javascript_include_tag 'landing/jquery.easing.1.3'%>
	<!-- jquery waypoints -->
	<%= javascript_include_tag 'landing/jquery.waypoints.min'%>
	<!-- owl carousel -->
	<%= javascript_include_tag 'landing/owl.carousel.min'%>
	
</body>
</html>
